body {
    background-image: url("img/bg.jpg") ;
    background-repeat: no-repeat;
}
.navbar {
    background-color: rgb(119, 53, 233);
}
.container.login {    
    background-color: rgb(61, 13, 145);
    width: 30% !important;
    margin-top: 10em;
}
.plans {
    margin-top: 10em;
}
ul {
    list-style-type: none !important;
}
.payment-status-img {
    width: 40px;
    height: 40px;
}
.logo-circle {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 6.4em;
    left: calc(50% - 65px);
}
.settings-container {
    padding: 8px 16px;
    margin: 0px;
}
.settings {
    display: flex !important;
    flex-direction: row-reverse !important;
}
.footer {
    font-size: 35px;
    text-align: center;
}
.footer p {
    font-size: 15px;
}