<script>

    function signUp() {
        $.ajax({
            url: "http://localhost:8080/signUp",
            method: "POST",
            data: {
                "email": $("#email").val(),
                "password": $("#password").val(),
                "confirmP": $("#confirm-password").val(),
            },
            dataType: "json",
            beforeSend: function () {
                document.getElementsByClassName("spinner-here")[0].hidden = true
                document.getElementsByClassName("spn")[0].hidden = false
            },
            complete: function() {
                document.getElementsByClassName("spinner-here")[0].hidden = false
                document.getElementsByClassName("spn")[0].hidden = true
            },
            success: function (result, status) {
                if (result) {
                    if (result.errors[0] == "auth/weak-password") {
                        $("#error").html("Password should be atleast 6 characters")
                    } else if (result.errors[0] == "auth/email-already-in-use") {
                        $("#error").html("Email is already in use")
                    }

                    if (result.feedback[0]) {
                        document.location.href = "/verify-email"
                    }
                }
            }
        })
    }

    function signIn() {
        $.ajax({
            url: "http://localhost:8080/signIn",
            method: "POST",
            data: {
                "email": $("#email").val(),
                "password": $("#password").val(),
            },
            dataType: "json",
            beforeSend: function () {
                document.getElementsByClassName("spinner-here")[0].hidden = true
                document.getElementsByClassName("spn")[0].hidden = false
            },
            complete: function() {
                document.getElementsByClassName("spinner-here")[0].hidden = false
                document.getElementsByClassName("spn")[0].hidden = true
            },
            success: function (result, status) {
                if (result) {
                    if (result.errors[0] == "auth/user-not-found") {
                        $("#error").html("User Not Found")
                    } else if (result.errors[0] == "auth/wrong-password") {
                        $("#error").html("Wrong Password")
                    } else if (result.errors[0] == "auth/invalid-email") {
                        $("#error").html("Invalid Email")
                    } else if (result.errors[0] == "Not Verified Email") {
                        $("#error").html(`Not Verified Email <a href="#verify" class="text-primary" onclick="sendVerifyEmail()">Send Verification Email</a>`)
                    }

                    // Logged in
                    if (result.feedback[0]) {
                        console.log("Logged in")
                        localStorage.setItem("aid", result.feedback[1])
                        document.location.href = "/index"
                    }
                }
            }
        })
    }

    function sendVerifyEmail() {
        $.ajax({
            url: "http://localhost:8080/verifyEmail",
            method: "POST",
            dataType: "json",
            success: function (result, status) {
                if (result.errors[0] === "auth/too-many-requests") {
                    $("#error").html("Too many requests. Try again later")
                }
                if (result.feedback[0]) {
                    $("#error").html("<p class='text-success'> Sent Email </p>")
                }
            }
        })
    }

    function getSettings() {
        $.ajax({
            url: "http://localhost:8080/getSettings",
            method: "POST",
            dataType: "json",
            data: {
                "aid": localStorage.getItem("aid")
            },
            beforeSend: function() {
                document.getElementsByClassName("spinner-here")[0].hidden = true
                document.getElementsByClassName("spn")[0].hidden = false
            },
            complete: function() {
                document.getElementsByClassName("spinner-here")[0].hidden = false
                document.getElementsByClassName("spn")[0].hidden = true
            },
            success: function (result, status) {
                $(".email").html(`<strong>Email:</strong> ${result.feedback[0]}`)
                $(".pass").html(`<strong> Password:</strong> ${result.feedback[1]} <button class="btn ms-2 text-primary">Change Password</button>`)
                $(".created").html(`Account created at ${result.feedback[2]}`)

                if (result.feedback[3] == true) {
                    document.getElementsByClassName("subbed")[0].hidden = false
                    document.getElementsByClassName("unsubbed")[0].hidden = true
                    $(".sub-end").html(`<strong> Subscription ends at </strong> ${result.feedback[4]}`)
                } else {
                    document.getElementsByClassName("subbed")[0].hidden = true
                    document.getElementsByClassName("unsubbed")[0].hidden = false
                }

                console.log(result.feedback)
            }
        })
    }
</script>