<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codalya</title>

    <%- include("../partials/head") %>

</head>

<body>
    <%- include("../partials/nav") %>

    <div class="container">
        <div class="row h-75">
            <div class="col">
                <h1 class="mt-5">
                    <strong>
                        High Quality Frontend
                    </strong>
                </h1>
                <h2>
                    for HTML & CSS
                </h2>
                <ul class="m-0 mt-5 p-0">
                    <li> <i class="fas fa-check"></i> Many UI components & animations</li>
                    <li> <i class="fas fa-check"></i> Super simple, 1 minute installation</li>
                    <li> <i class="fas fa-check"></i> Free components and animations </li>
                    <li> <i class="fas fa-check"></i> Premium Tier - advanced components and animations </li>
                </ul>

                <button class="btn btn-primary mt-5"> Get Started </button>
            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>

</body>

</html>