<!DOCTYPE html>
<html>

<head>
    <title>Codealaya</title>

    <%- include("../partials/head") %>

</head>

<body>
    <%- include("../partials/nav") %>

    <div class="container text-center mt-5">
        <img src="img/success.png" class="payment-status-img"></img>
        <h1> Payment Successful! </h1>
        <h2> The reciept will be sent to the provided Email </h2>
        <a href="/index">Take me to Dashboard!!</a>
        <div id="receipt">
            <!-- put the receipt code here -->
        </div>
    </div>

    <%- include("../partials/footer") %>

</body>

</html>