<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>

    <%- include("../partials/head") %>

</head>

<body>
    <%- include("../partials/nav"); %>

        <div class="spn container">
            <div class="row">
                <div class="col text-center mt-5">
                    <div class="spinner-border text-dark">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container spinner-here text-start text-light shadow-lg p-4 mt-4 w-50"
            style="background-color: rgb(61, 13, 145);">
            <div class="row my-5">
                <h1>Account Settings</h1>
            </div>

            <div class="row">
                <h4 class="fw-light email"> <strong>Email:</strong></h4>
                <h4 class="fw-light pass"> <strong> Password:</strong> <button class="btn ms-2 text-primary">Change
                        Password</button></h4>
                <div class="danger-zone my-4 ">
                    <button class="btn btn-danger" onclick="logout()">Log Out</button>
                    <button class="btn btn-danger">Delete Account</button>
                </div>
                <h5 class="fw-light created text-secondary"> Account created at </h5>
            </div>

            <hr class="w-100">

            <div class="row subbed">
                <div class="col">
                    <h4 class="fw-light sub-end"> <strong> Subscription ends at </strong>
                    </h4>
                    <button class="btn btn-primary"> Cancel Subscription </button>
                </div>
            </div>
            <div class="row unsubbed">

                <div class="col">
                    <a class="btn btn-primary" href="premium"> Get Premium </a>
                </div>
            </div>
            <hr class="w-100">
        </div>


        <%- include("../partials/footer") %>

            <script defer>
                getSettings()

                function logout() {
                    localStorage.clear()
                    window.location.replace("http://localhost:8080");
                }
            </script>
</body>

</html>