<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Login </title>

    <%- include("../partials/head") %>

</head>
<body>
    <%- include("../partials/nav") %>

    <div class="container text-white shadow-lg rounded-3 pt-3 login">
        <div class="row">
            <div class="col">
                <img src="img/avatar.jpg" alt="Avatar" class="avatar rounded-circle text-center shadow-lg">
                <form action="/signup" method="POST">   
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm-password" id="confirm-password" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="policy"  name="policy" required>
                        <label class="form-check-label" for="exampleCheck1">Policy</label>
                    </div>
                    <div id="error" class="form-text text-danger mb-2"></div>
                    <div class="mb-3 d-flex">
                        <button type="button" class="btn btn-primary" onclick="signUp()">Login</button>
                        <div id="signUpHelp" class="form-text ms-2 text-white">Already have an account? <a href="login" class="text-primary">Login</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer mt-5">
        <p> &copy; 2021 Himanshu Sharma and Aary Angre </p>
    </div>

    <%- include("../partials/footer") %>

</body>
</html>